<div class="row" ng-repeat="item in list.foundItems track by $index">
    <div class="col-md-8 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title pull-left"><span ng-bind="item.name"></span> - [<strong ng-bind="item.short_name"></strong>]</h3>
                <button class="btn btn-danger pull-right" ng-click="list.onRemove({index: $index});">Don't want this one!</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p ng-bind="item.description"></p>
            </div>
        </div>
    </div>
</div>
